/* ------------------------------------------------------- FONTS ------------------------------------------------------- */

@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}



/* ------------------------------------------------------- GLOBAL ------------------------------------------------------- */ 

* {
    font-family: roboto-bold, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* height: 100vh; */
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-pic-big {
    width: 70px;
    border-radius: 35px;
}


/* ------------------------------------------------------- HEADER ------------------------------------------------------- */

.header {
    background-color: #fff;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: .5rem 3rem;
    box-shadow: 0px 5px 5px 0px rgba(180, 188, 190, 0.75);
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-one .right,
.row-two .left {
    display: flex;
    align-items: center;
}

.name {
    font-size: x-large;
}

input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 16px;
    height: 32px;
    width: min(70%, 700px);
    margin-left: 15px;
}

input::placeholder {
    padding-left: 15px;
}

.left {
    flex: 1;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

button {
    background-color: #1992d4;
    color: #fff;
    border: none;
    border-radius: 24px;
    height: 40px;
    width: 100px;
    margin-left: 32px;
}

button:hover {
    cursor: pointer;
    background-color: #34abeb;
}

button:active {
    background-color: #177aaf;
    box-shadow: inset 5px 5px 2px 0px #0f5d86;
}

.row-one > .right > * {
    margin-left: 24px;
}

.right > i {
    font-size: 24px;
}

.right > p {
    font-size: 20px;
}


/* ------------------------------------------------------- SIDEBAR ------------------------------------------------------- */

.sidebar {
    color: #fff;
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 1.5rem;
}

.main-heading {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.main-heading > i {
    font-size: 2rem;
    margin-right: 20px;
}

ul {
    margin-bottom: 50px;
}

li {
    font-size: larger;
    list-style: none;
    margin-bottom: 20px;
}

li > i {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    text-align: center;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* ------------------------------------------------------- MAIN CONTENT ------------------------------------------------------- */

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 20px 20px 20px;
    align-content: space-around;
    gap: 20px;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: min-content auto;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.project-cards > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px solid #f0b429;
}

.icons {
    padding-top: 5px;
    align-self: flex-end;
}

.icons > i {
    margin-left: 10px;
    font-size: large;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 0px rgba(180, 188, 190, 0.75);
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-desc {
    margin-left: 10px;
}

.trending {
    display: grid;
    grid-template-rows: min-content auto;
}

.trending .user:last-child {
    margin: 0;
}

.trending > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc {
    color: #757575;
    font-size: 15px;
    font-family: roboto-regular, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcements {
    display: grid;
    grid-template-rows: min-content auto;
}

.announcements > .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement {
    padding-bottom: 20px;
    border-bottom: 1px solid #757575;
    margin-bottom: 20px;
}

.announcement:last-child {
    padding-bottom: 0;
    border: none;
    margin: 0;
}